<!DOCTYPE html>
<html>
  <head>
    <title>Mad-Lib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>The Mad Lib</h1>
    <p>
      Last week, @Model.Name and his dog @Model.Dog were going on a walk, when suddenly a big mean @Model.Monster came out of nowhere. @Model.Name stopped and screamed  "@Model.Exclamation".  then, @Model.Name grabbed @Model.Dog and @Model.Verb as quickly possible. When they reached home, @Model.Name gave @Model.Dog a big old @Model.Noun.
      </p>
  </body>
</html>